{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %} - The Shoe Men CRM</title>
    <meta name="description" content="Admin, Dashboard, Bootstrap">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" sizes="196x196" href="{% static "images/logo.png" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.css">
    <link rel="stylesheet" href="{% static "animate.css/animate.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/app.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900,300">
</head>

<body class="sb-top">
  {% if user.is_authenticated %}
    {% include "menu.html" %}
  {% endif %}

  <main id="app-main" class="app-main">
      <div class="container">
          <div class="wrap">
            {% block content %}


            {% endblock content %}
          </div>
      </div>
  </main>

<div class="wrap">
    <footer class="app-footer">
        <div class="clearfix">
            <ul class="footer-menu pull-right">
                <li><a href="javascript:void(0)">Careers</a></li>
                <li><a href="javascript:void(0)">Privacy Policy</a></li>
                <li><a href="javascript:void(0)">Feedback <i class="fa fa-angle-up m-l-md"></i></a></li>
            </ul>
            <div class="copyright pull-left">&copy; Copyright Delhi Nerds 2016</div>
        </div>
    </footer>
</div>




<script src="{% static "js/core.min.js" %}"></script>
<script src="{% static "js/app.min.js" %}"></script>
<script src="{% static "moment/moment.js" %}"></script>
<script src="{% static "fullcalendar/dist/fullcalendar.min.js" %}"></script>
<script src="{% static "js/fullcalendar.js" %}"></script>
</body>

</html>
