﻿{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Customers
{% endblock title %}

{% block content %}

    <section class="app-content">

      <div class="row">
        <div class="col-md-12 col-lg-12">
          <legend>Customer Information </legend>
          <form name="new-c" action="{% url "customer:customer-addnew" %}" class="form" method="post">
            {% csrf_token %}

            <span style="margin-left:0px;">Title</span> <select name="title" class="input-sm" {% if customer.title != None %}value="{{customer.title}}" {% endif %} style="margin-right:45px;" />
              <option value="Mr.">Mr.</option>
              <option value="Ms.">Ms.</option>
              <option value="Mrs.">Mrs.</option>
              <option value="Dr.">Dr.</option>
              <option value="S.">S.</option>
              <option value="Prof.">Prof.</option>
            </select>
            Sex <select name="sex" class="input-sm" {% if customer.sex == "Male" %} value="M" {% else %} value="F" {% endif %} style="margin-right:35px;">
              <option value="Male">M</option>
              <option value="Female">F</option>
            </select>
            <hr />
            First Name <input class="input-sm" name="fname" type="text" {% if customer.first_name != None %} value="{{customer.first_name}}" {% endif %} placeholder="First Name" size="25" />
            Middle Name <input class="input-sm" name="mname" type="text" {% if customer.middle_name != None %} value="{{customer.middle_name}}" {% endif %} placeholder="Middle Name" size="25" />
            Last Name <input class="input-sm" name="lname" type="text" {% if customer.last_name != None %} value="{{customer.last_name}}" {% endif %} placeholder="Last Name" size="30" /> <hr />
            Mobile 1 <input class="input-sm" name="mobile1" type="text" {% if customer.mobile1 != None %} value="{{customer.mobile1}}" {% endif %} placeholder="Mobile 1" size="25" />
            Mobile 2 <input class="input-sm" name="mobile2" type="text" {% if customer.mobile2 != None %} value="{{customer.mobile2}}" {% endif %} placeholder="Mobile 2" size="25" />
            Office Phone <input class="input-sm" name="ophone" type="text" {% if customer.office_phone != None %} value="{{customer.office_phone}}" {% endif %} placeholder="Office Phone" size="25" />
            Residence Phone <input class="input-sm" name="rphone" type="text" {% if customer.residence_phone != None %} value="{{customer.residence_phone}}" {% endif %} placeholder="Residence Phone" size="25" /><br /><hr />
            Email <input type="text" class="input-sm" name="email" {% if customer.email != None %} value="{{customer.email}}" {% endif %} placeholder="Email" size="45" />
            Birthday Date <input class="input-sm" name="bod" type="text" {% if customer.date_of_birth != None %} value="{{customer.date_of_birth}}" {% endif %} placeholder="Birthday Date" size="30" />
            Anniversary Date <input class="input-sm" name="ann-date" type="text" {% if customer.anniversary != None %} value="{{customer.anniversary}}" {% endif %} placeholder="Anniversary Date" size="30" /><hr />

            Special Remarks <input type="text" class="input-sm" name="specialRemarks" {% if customer.comments != None %} value="{{customer.comments}}" {% endif %} placeholder = "Special Remarks" size="150" /><hr />

            <legend> Addresses </legend>
            <h5>Residence Address</h5>
            Address Line 1 <input class="input-sm" name="add1" type="text" {% if customer.addline1 != None %} value="{{customer.addline1}}" {% endif %} placeholder="Address Line 1" size="30" />
            Address Line 1 <input class="input-sm" name="add2" type="text" {% if customer.addline2 != None %} value="{{customer.addline2}}" {% endif %} placeholder="Address Line 2" size="30" />
            Locality <input type="text" name="locality" class="input-sm" {% if customer.locality != None %} value="{{customer.locality}}" {% endif %} placeholder="Locality" size="15" />
            Pin Code <input type="text" name="pincode" class="input-sm" {% if customer.pincode != None %} value="{{customer.pincode}}" {% endif %} placeholder="Pin Code" size="15" />

            <h5>Office Address</h5>
            Address Line 1 <input class="input-sm" name="add1" type="text" {% if customer.addline1 != None %} value="{{customer.addline1}}" {% endif %} placeholder="Address Line 1" size="30" />
            Address Line 1 <input class="input-sm" name="add2" type="text" {% if customer.addline2 != None %} value="{{customer.addline2}}" {% endif %} placeholder="Address Line 2" size="30" />
            Locality <input type="text" name="locality" class="input-sm" {% if customer.locality != None %} value="{{customer.locality}}" {% endif %} placeholder="Locality" size="15" />
            Pin Code <input type="text" name="pincode" class="input-sm" {% if customer.pincode != None %} value="{{customer.pincode}}" {% endif %} placeholder="Pin Code" size="15" />
            <br /><br />

            <button type="submit" name="save-form" class="btn btn-success">Save</button>

          </form>
        </div>

      </div>

      <hr />
      <hr />

      <!-- <div class="row">
        <div class="col-md-12">
          <table id="customer" class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Sex</th>
                <th>Locality</th>
                <th>Email</th>
                <th>Mobile Number</th>
                <th>Landline Number</th>
                <th>Date of Birth</th>
              </tr>
            </thead>
            <tbody>
              {% for each in customers %}
              <tr>
                <td>{{each.id}}</td>
                <td>{{each.title}}</td>
                <td><a href="{% url "customer:customer-view" each.pk %}">{{each.first_name}}</a></td>
                <td>{{each.last_name}}</td>
                <td>{{each.sex}}</td>
                <td>{{each.locality}}</td>
                <td>{{each.email}}</td>
                <td>{{each.mobile1}}</td>
                <td>{{each.residence_phone}}</td>
                <td>{{each.date_of_birth}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div> -->

    </section>

{% endblock content %}
