﻿{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Customers
{% endblock title %}

{% block content %}

    <section class="app-content">

      <h1>View All Customers</h1>

      <div class="row">
        <div class="col-md-12">
          <table id="customer" class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Sex</th>
                <th>Locality</th>
                <th>Email</th>
                <th>Mobile Number</th>
                <th>Landline Number</th>
                <th>Date of Birth</th>
              </tr>
            </thead>
            <tbody>
              {% for each in customers %}
              <tr>
                <td>{{each.id}}</td>
                <td>{{each.title}}</td>
                <td><a href="{% url "customer:customer-view" each.pk %}">{{each.first_name}}</a></td>
                <td>{{each.last_name}}</td>
                <td>{{each.sex}}</td>
                <td>{{each.locality}}</td>
                <td>{{each.email}}</td>
                <td>{{each.mobile1}}</td>
                <td>{{each.residence_phone}}</td>
                <td>{{each.date_of_birth}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

    </section>

{% endblock content %}
