﻿{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Dashboard
{% endblock title %}

{% block content %}

      <section class="app-content">
          <div class="row">
              <div class="col-md-6 col-sm-6">
                  <div class="widget p-md clearfix">
                      <div class="pull-left">
                          <h3 class="widget-title">Welcome to Infinity</h3><small class="text-color">Number of views</small></div><span class="pull-right fz-lg fw-500 counter" data-plugin="counterUp">102</span></div>
              </div>
              <div class="col-md-6 col-sm-6">
                  <div class="widget p-md clearfix">
                      <div class="pull-left">
                          <h3 class="widget-title">Active</h3><small class="text-color">Loads / contact</small></div><span class="pull-right fz-lg fw-500 counter" data-plugin="counterUp">325</span></div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-3 col-sm-6">
                  <div class="widget stats-widget">
                      <div class="widget-body clearfix">
                          <div class="pull-left">
                              <h3 class="widget-title text-primary"><span class="counter" data-plugin="counterUp">66.136</span>k</h3><small class="text-color">Total customers</small></div><span class="pull-right big-icon watermark"><i class="fa fa-paperclip"></i></span></div>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6">
                  <div class="widget stats-widget">
                      <div class="widget-body clearfix">
                          <div class="pull-left">
                              <h3 class="widget-title text-danger"><span class="counter" data-plugin="counterUp">3.490</span>k</h3><small class="text-color">Total Pending Orders</small></div><span class="pull-right big-icon watermark"><i class="fa fa-ban"></i></span></div>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6">
                  <div class=d"widget stats-widget">
                      <div class="widget-body clearfix">
                          <div class="pull-left">
                              <h3 class="widget-title text-success"><span class="counter" data-plugin="counterUp">8.378</span>k</h3><small class="text-color">Today's Birthdays</small></div><span class="pull-right big-icon watermark"><i class="fa fa-unlock-alt"></i></span></div>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6">
                  <div class="widget stats-widget">
                      <div class="widget-body clearfix">
                          <div class="pull-left">
                              <h3 class="widget-title text-warning"><span class="counter" data-plugin="counterUp">3.490</span>k</h3><small class="text-color">Today's Followups</small></div><span class="pull-right big-icon watermark"><i class="fa fa-file-text-o"></i></span></div>
                  </div>
              </div>
          </div>

      </section>

{% endblock content %}
