{% load staticfiles %}
<aside id="app-aside" class="app-aside top light">
    <div class="container">
      <div class="aside-menu-wrapper">
          <div id="aside-top-menu-toggle" class="visible-xs-inline-block">
              <button data-toggle="class" data-target="#aside-top-menu" data-class="open" self-toggle="is-active" class="hamburger hamburger--spin js-hamburger" type="button"><span class="hamburger-box"><span class="hamburger-inner"></span></span>
              </button>
          </div>
          <ul class="sf-menu aside-menu aside-top-menu" id="aside-top-menu">
              <li><a href="{% url "customer:index" %}" class="menu-link"><span class="menu-icon"><i class="zmdi zmdi-home zmdi-hc-lg"></i></span> <span class="menu-text">Dashboard</span></a>
              </li>
              <li><a href="{% url "customer:view-all-customers" %}" class="menu-link"><span class="menu-icon"><i class="zmdi zmdi-layers zmdi-hc-lg"></i></span> <span class="menu-text">Customers</span></a>
                <ul>
                  <li><a href="{% url "customer:customer-addnew" %}">Add New</a></li>
                  <li><a>Search</a></li>
                </ul>
              </li>
              <li>
                <a href="{% url "orders:index" %}" class="menu-link"><span class="menu-icon"><i class="zmdi zmdi-layers zmdi-hc-lg"></i></span> <span class="menu-text">Orders</span></a>
                <ul>
                  <li><a href="{% url "orders:index" %}">Create a New Order</a></li>
                  <li><a>Search for Order</a></li>
                </ul>
              </li>
          </ul>
      </div>
  </div>
</aside>

<nav id="app-navbar" class="app-navbar bg-primary">


    <div class="container">
        <div id="navbar-header" class="pull-left">
            <div class="animated"><a href="#" id="app-brand" class="app-brand text-white"><span id="brand-icon" class="brand-icon"><i class="fa fa-gg"></i></span> <span id="brand-name" class="brand-icon foldable">The Shoe Men CRM</span></a></div>
        </div>
        <div>
            <ul id="top-nav" class="pull-right">
                <li class="nav-item dropdown"><a href="javascript:void(0)" id="navbar-search-open" class="navbar-search-open"><i class="zmdi zmdi-hc-lg zmdi-search"></i></a></li>
            </ul>
        </div>
        <div id="navbar-search" class="navbar-search">
            <form action="#"><span class="search-icon"><i class="fa fa-search"></i></span>
                <input class="search-field" type="search" placeholder="search...">
            </form>
            <button id="search-close" class="search-close"><i class="fa fa-close"></i></button>
        </div>
    </div>
</nav>
