﻿{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
Customers
{% endblock title %}

{% block content %}

    <section class="app-content">

      <div class="row">
        <div class="col-md-12 col-lg-12">
          <legend>Select Customer </legend>
          <form name="new-c" action="{% url "orders:index" %}" class="form" method="post">
            {% csrf_token %}
            <select name="customerpk" style="width:450px; height:35px;">
              {% for each in customer %}
                <option value="{{each.pk}}">{{each.name}}</option>
              {% endfor %}
            </select>

            <hr />

            <legend> Shipping Address </legend>
            Address Line 1 <input class="input-sm" name="add1" type="text" {% if customer.addline1 != None %} value="{{customer.addline1}}" {% endif %} placeholder="Address Line 1" size="30" />
            Address Line 1 <input class="input-sm" name="add2" type="text" {% if customer.addline2 != None %} value="{{customer.addline2}}" {% endif %} placeholder="Address Line 2" size="30" />
            Locality <input type="text" name="locality" class="input-sm" {% if customer.locality != None %} value="{{customer.locality}}" {% endif %} placeholder="Locality" size="15" />
            Pin Code <input type="text" name="pincode" class="input-sm" {% if customer.pincode != None %} value="{{customer.pincode}}" {% endif %} placeholder="Pin Code" size="15" />

            <hr />

            <legend> Order Details </legend>

            <br /><button type="submit" name="save-form" class="btn btn-success">Save</button>

          </form>
        </div>

      </div>

      <hr />
      <hr />

      <!-- <div class="row">
        <div class="col-md-12">
          <table id="customer" class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Sex</th>
                <th>Locality</th>
                <th>Email</th>
                <th>Mobile Number</th>
                <th>Landline Number</th>
                <th>Date of Birth</th>
              </tr>
            </thead>
            <tbody>
              {% for each in customers %}
              <tr>
                <td>{{each.id}}</td>
                <td>{{each.title}}</td>
                <td><a href="{% url "customer:customer-view" each.pk %}">{{each.first_name}}</a></td>
                <td>{{each.last_name}}</td>
                <td>{{each.sex}}</td>
                <td>{{each.locality}}</td>
                <td>{{each.email}}</td>
                <td>{{each.mobile1}}</td>
                <td>{{each.residence_phone}}</td>
                <td>{{each.date_of_birth}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div> -->

    </section>

{% endblock content %}
